log.txt
# for Mac
.DS_Store
Icon
._*
.Trash-0

# for Jupyter
.Trash-0
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*.ipynb

# for Docker
data/contents/
data/secrets/
data/init/
data/wpDb1/

# for Ollama WebUI
ollamaWebui/webui/
!ollamaWebui/webui/.gitkeep

# for n8n
n8n/data/*
!n8n/data/**/.gitkeep
n8n/.env

# for WordPress SSL
wordpress_adv_ssl/data/
wordpress_adv_ssl/.env
wordpress_adv_ssl/wordpress/.env
~/.ssh/ssl/
!~/.ssh/ssl/README.md
